/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibDBManager/build/
/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibDBManager/dist/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibDBManager/nbproject/private/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibOrdenDA/nbproject/private/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibOrdenModel/nbproject/private/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibProductoDA/nbproject/private/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibProductoModel/nbproject/private/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibUsuarioDA/nbproject/private/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibUsuarioModel/nbproject/private/
