/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibDBManager/build/
/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibDBManager/dist/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibDBManager/nbproject/private/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibOrdenDA/nbproject/private/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibOrdenModel/nbproject/private/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibProductoDA/nbproject/private/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibProductoModel/nbproject/private/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibUsuarioDA/nbproject/private/
/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/Proyecto_CleanCode/SoftLibUsuarioModel/nbproject/private/
/Libreria_v1/build/
/Libreria_v1/nbproject/private/
/Proyecto_CleanCode/SoftLibTest/nbproject/private/
/Proyecto_CleanCode/SoftLibProductoModel/build/
/Proyecto_CleanCode/SoftLibProductoModel/dist/
/Proyecto_CleanCode/SoftLibDBManager/build/
/Proyecto_CleanCode/SoftLibProductoDA/build/
/Proyecto_CleanCode/SoftLibTest/build/
/Proyecto_CleanCode/SoftLibDBManager/dist/
/Proyecto_CleanCode/SoftLibProductoDA/dist/
/Proyecto_CleanCode/SoftLibTest/dist/
