/SoftLibOrdenDA/build/
/SoftLibOrdenModel/build/
/SoftLibOrdenModel/dist/
/SoftLibOrdenDA/dist/
/SoftLibProductoTest/nbproject/private/
/SoftLibProductoTest/build/
/SoftLibProductoTest/dist/
/SoftLibProductoBO/nbproject/private/
/SoftLibProductoBO/build/
/SoftLibOrdenBO/build/
/SoftLibOrdenBO/dist/
/SoftLibProductoBO/dist/
/SoftLibUsuarioModel/dist/
/SoftLibUsuarioModel/build/
/SoftLibUsuarioDA/dist/
/SoftLibUsuarioTest/nbproject/private/
/SoftLibUsuarioTest/build/
/SoftLibUsuarioTest/dist/
/SoftLibProductoDA/dist/
/SoftLibWSBL/nbproject/private/
/SoftLibWSBL/build/
.vs/
